[[source]]
name = "pypi"
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false

[dev-packages]

[packages]
flask = "*"
requests = "*"
flask-sqlalchemy = "*"
pymysql = "*"
wtforms = "*"
flask-login = "*"
flask-caching = "*"
flask-migrate = "*"
flask-script = "*"
flask-mail = "*"
gunicorn = "*"
flask-httpauth = "*"

[requires]
python_version = "3.6"
